<div class="bs-example" data-example-id="basic-forms">
    <form>
        <h4>HEADER</h4>
        <div class="form-group">
            <label for="exampleInputFile">Logo</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Seleccione la imagen de logo</p>
        </div>
        <hr />
        <h4>FOOTER</h4>
        <div class="form-group">
            <label for="exampleInputDireccion">Direccion</label>
            <input type="email" class="form-control" id="direccion" placeholder="Ingrese direccion">
        </div>
        <div class="form-group">
            <label for="exampleInputTelefono">Telefono</label>
            <input type="email" class="form-control" id="telefono" placeholder="Ingrese Telefono">
        </div>        
        <div class="form-group">
            <label for="exampleInputCorreo">Correo electronico</label>
            <input type="email" class="form-control" id="correo" placeholder="Ingrese Correo">
        </div>  
        <hr />
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>