<div class="bs-example" data-example-id="basic-forms">
    <form>
        <h4>NOTA INICIAL</h4>
        <div class="form-group">
            <label for="notaInicial">Nota Inicial</label>
            <input type="text" class="form-control" id="notaInicial" placeholder="Ingrese Nota Inicial">  
        </div>          
        <hr />
        <h4>HABITACIONES</h4>
            <div class="well">
               <h4>Hab. Simple</h4>
               <div class="form-group">
                    <label for="notaTitulo">Titulo</label>
                    <input type="text" class="form-control" id="Titulo" placeholder="Ingrese Titulo">  
                </div> 
                <div class="form-group">
                    <label for="notaTitulo">Sub Titulo</label>
                    <input type="text" class="form-control" id="SubTitulo" placeholder="Ingrese Sub Titulo">  
                </div>  
                <div class="form-group">
                    <label for="notaTitulo">Precios</label>
                    <input type="text" class="form-control" id="Precios" placeholder="Ingrese Precios">  
                </div>  
            </div>
            <div class="well">
                <h4>Hab. Ejecutiva</h4>
                <div class="form-group">
                    <label for="notaTitulo">Titulo</label>
                    <input type="text" class="form-control" id="Text1" placeholder="Ingrese Titulo">  
                </div> 
                <div class="form-group">
                    <label for="notaTitulo">Sub Titulo</label>
                    <input type="text" class="form-control" id="Text2" placeholder="Ingrese Sub Titulo">  
                </div>  
                <div class="form-group">
                    <label for="notaTitulo">Precios</label>
                    <input type="text" class="form-control" id="Text3" placeholder="Ingrese Precios">  
                </div>  
            </div>
        <hr />
        <h4>DESCRIPCION</h4> 
        <div class="form-group">
            <label for="exampleInputTelefono">Descripcion</label>
            <textarea  class="form-control" id="descripcion" placeholder="Ingrese Descripcion"></textarea>
        </div>  
        <hr />
        <h4>NOTA FINAL</h4>
        <div class="form-group">
            <label for="notaFinal">Nota Inicial</label>
            <input type="text" class="form-control" id="notaFinal" placeholder="Ingrese Nota Final">  
        </div>  
        <hr />
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>